.body{
  background:gray;
}
.header{
  font-family: Lobster, Monospace;
  color: black;
  font-size: 100px;
  
}
.container{
  margin: 1em;
	padding: 2em;
	background:#E6E6E6;
  border-width: 1px;
  border-style: solid;
  border-radius: 1%;
}
.black-border {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10%;
    float: left;
    margin: 0.5em;
  }
.image-size {
    width: 300px;
  }
p {
    font-size: 16px;
  font-family: 'Roboto', sans-serif;
    
  }
ul{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

footer{
  background: #EEEEEE;
	color: black;
	font-size: 16px;
	padding: 0.5em;
	/*text-align: center;*/
	height: 10px;
  font-family:Lobster, Monospace;
}
